In [2]:
import pandas as pd
name=["vaibhavi","kirthana","ranuka","vijay"]
age=[12,13,14,15]
gender=["female","female","female","male"]
student=pd.DataFrame({'name':name,'age':age,'gender':gender})

In [ ]:
#Here we will be importing the pandas package and we will be giving name,age ,gender to create a csv file and we will be creating a table also and creating a data frame..

In [ ]:
#Viewing the data and table has been created

In [3]:
student

       name  age  gender
0  vaibhavi   12  female
1  kirthana   13  female
2    ranuka   14  female
3     vijay   15    male

In [ ]:
#created a csv file

In [4]:
student.to_csv("student.csv")